html {
    background-color: #debb97;
    color: #252525;
    font-family: "Verdana", Verdana, serif;
    font-weight: normal;
}

div.substrate {
    background: #bdcedb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#edfffd, #bdcedb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#edfffd, #bdcedb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#edfffd, #bdcedb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#edfffd, #bdcedb); /* Standard syntax */

    padding: 5px;

    box-shadow: 1px 1px #3c3c3c;

    border: 1px solid #434343;
    border-radius: 5px;
}

div.inputfield {
    height: 25px;
    line-height: 25px;
    width: 316px;

    background: #edfffd;

    margin: 5px;
    padding: 2px;

    text-align: right;

    font-weight: bold;

    -webkit-box-shadow: inset 1px 1px 2px 0 rgb(210, 228, 244);
    -moz-box-shadow: inset 1px 1px 2px 0 rgb(210, 228, 244);
    box-shadow: inset 1px 1px 0 2px rgb(210, 228, 244);

    border: 1px solid #393939;
    border-radius: 5px;
}

div.btn {
    height: 25px;
    line-height: 25px;
    width: 50px;

    background: #2a2a2a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9eb5c7, #91a6b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9eb5c7, #91a6b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9eb5c7, #91a6b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9eb5c7, #91a6b8); /* Standard syntax */

    margin: 5px;
    padding: 2px;

    border: 1px solid #434343;
    border-radius: 5px;

    box-shadow: 1px 1px #1e1e1e;

    text-align: center;
    display: inline-block;
}

div.btn:hover {
    border: 1px solid #afafaf;
    border-radius: 5px;
}

div.btn:active {
    -webkit-box-shadow: inset 1px 1px 2px 0 rgb(142, 163, 180);
    -moz-box-shadow: inset 1px 1px 2px 0 rgb(142, 163, 180);
    box-shadow: inset 1px 1px 0 2px rgb(142, 163, 180);

    /*border-style: hidden;*/
    border: 1px solid #ff571f;
}

div.longbtn {
    height: 66px;
    line-height: 66px;
}

div.widebtn {
    width: 116px;
}

div.header {
    color: black;
}

p.footer {
    color: black;
}