#lightTheme {
    color: #252525;
    height: 25px;
    width: 50px;

    background: #2a2a2a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9eb5c7, #91a6b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9eb5c7, #91a6b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9eb5c7, #91a6b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9eb5c7, #91a6b8); /* Standard syntax */

    margin: 5px;
    padding: 2px;

    border: 1px solid #434343;
    border-radius: 5px;

    box-shadow: 1px 1px #1e1e1e;

    text-align: center;
}

#lightTheme:hover {
    border: 1px solid #afafaf;
    border-radius: 5px;
}

#lightTheme:active {
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(46,46,46,1);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(46,46,46,1);
    box-shadow: inset 1px 1px 0 2px rgba(46,46,46,1);

    /*border-style: hidden;*/
    border: 1px solid #ff571f;
}

#darkTheme {
    color: #b4b4b4;
    height: 25px;
    width: 50px;

    background: #2a2a2a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3b3b3b, #2a2a2a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3b3b3b, #2a2a2a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3b3b3b, #2a2a2a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3b3b3b, #2a2a2a); /* Standard syntax */

    margin: 5px;
    padding: 2px;

    border: 1px solid #434343;
    border-radius: 5px;

    box-shadow: 1px 1px #1e1e1e;

    text-align: center;
}

#darkTheme:hover {
    border: 1px solid #afafaf;
    border-radius: 5px;
}

#darkTheme:active {
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(46,46,46,1);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(46,46,46,1);
    box-shadow: inset 1px 1px 0 2px rgba(46,46,46,1);

    /*border-style: hidden;*/
    border: 1px solid #ff571f;
}